
.container{
    width: 100%;
    margin-left: auto;
}

.jumbotron{
    width: 100%;
    
    margin-left: auto;
}

h1{
    width: 100%;
    text-align: center;
}

.timer{
    width: 100%;
    text-align: center;
}

.ClickToStart{
    width: 100%;
    text-align: center;
}

.questionRow{
    width: 100%;
    text-align: center;
}

.timerAndQuestions{
    text-align: center;
}